@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	color-scheme: light;
}
:root[data-theme='dark'] {
	color-scheme: dark;
}

input,
button {
	@apply outline-none;
}
input[type='time'] {
	@apply relative;
}
input[type='time']::-webkit-calendar-picker-indicator {
	@apply absolute right-0 top-0 block h-full w-full cursor-pointer bg-transparent opacity-0;
}

@keyframes popup {
	from {
		opacity: 0;
		transform: translateY(20%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@layer components {
	.skeleton {
		@apply animate-pulse rounded-sm bg-gray-300 dark:bg-neutral-700;
	}
	.button {
		@apply rounded-md bg-green-700 px-2 py-1;
	}
}
